#folders
.idea
.metadata
nbproject
conf
lib/mapsengine
src/main/webapp/META-INF
target

#files
.project
checkstyle command.txt
checkstyle-5.6-all.jar
cs1331-checkstyle.xml
ITripPlanner.iml
nbbuild.xml

