#Frame{
    background-color: #F0F8FF;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#map_canvas{
    width: 50%;
    height: 80%;
    top: 10%;
    left: 8%;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    position: fixed;
}

#PreferencesContainer{
    width: 35%;
    height: 80%;
    top: 10%;
    left: 62%;
    background-color: #FFFFFF;
}

#CentralLocation{
    top: 12%;
    left: 14%;
    width: 14%;
    z-index: 2;
    position: absolute;
}