#Frame{
    background-color: #F0F8FF;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#map_canvas{
    width: 50%;
    height: 80%;
    top: 10%;
    left: 8%;
    border-style: solid;
    border-width: 2px;
    border-color: #333333;
    position: fixed;
}


#CentralLocation{
    top: 12%;
    left: 14%;
    width: 14%;
    z-index: 2;
    position: absolute;
}

#InterestPlace{
    top: 15%;
    left: 14%;
    width: 14%;
    z-index: 2;
    position: absolute;
}

#Distance{
    top: 18%;
    left: 14%;
    width: 14%;
    z-index: 2;
    position: absolute;
}

#TravelModePanel{
    top: 21%;
    left: 14%;
    width: 14%;
    z-index: 2;
    position: absolute;
}

.clickButton{
    position: absolute;
    top: 80%;
    left: 60%;
    width: 8%;
    color: white;
    font-weight:bold;
    border-style:hidden;
    background-color: #33CCFF;
}

#PriceTitle{
    top: 22%;
    left: 14%;
    z-index: 2;
    position: absolute;
}

#Price{
    top: 22%;
    left: 20%;
    width: 50px;
    z-index: 2;
    position: absolute;
}

#RatingTitle{
    top: 26%;
    left: 14%;
    z-index: 2;
    position: absolute;
}


#Rating{
    top: 26%;
    left: 20%;
    width: 50px;
    z-index: 2;
    position: absolute;
}

#StartTimeTitle{
    top: 31%;
    left: 14%;
    z-index: 2;
    position: absolute;
}

#StartTime{
    top: 31%;
    left: 20%;
    width: 80px;
    z-index: 2;
    position: absolute;
}


#EndTimeTitle{
    top: 35%;
    left: 14%;
    z-index: 2;
    position: absolute;
}


#EndTime{
    top: 35%;
    left: 20%;
    width: 80px;
    z-index: 2;
    position: absolute;
}